<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>{{ page.name }}</title>
    </head>
    <body>
        <!-- aboba -->
        <header>
            <h1>Клубный дом</h1>
            <nav>
                <ul id="nav_main">
                    <li><a href="/" data-ajax>Главная</a></li>
                    <li><a href="/about" data-ajax>О доме</a></li>
                    {{#if user}}
                        <li><a href="/logout">Выйти</a></li>
                    {{else}}
                        <li><a href="/login" data-ajax>Войти</a></li>
                    {{/if}}
                </ul>
            </nav>
        </header>
        <div id="wrap">
            <main>
                {{{ content }}}
            </main>
        </div>
        <footer>
            <p>Студенческие клубы разработки, 2019-2024</p>
            <p>Сайт клубного дома by Данила Григорьев</p>
        </footer>
        <script src="/static/main.js" type="text/javascript"></script>
    </body>
</html>