<div class="page" id="page_about">
<p>Клубный дом - место для совместной работы и просто отдыха членов Студенческих клубов разработки, также известных как Живые технологии. Здесь мы встречаемся, обсуждаем, трудимся и отдыхаем в удобное нам время.</p>

<p>Во избежание конфликтов из-за потенциального недостатка мест или желания занять конкретный стол был создан этот небольшой сайт. Здесь любой желающий может забронировать столик на то время, в которое ему хотелось бы за ним посидеть.</p>
</div>
