<section class="page" id="page_register_failed">
    <h1>Регистрация потрачена</h1>
    <p>Что-то пошло не так и пришлось прервать регистрацию. Трудно сказать что-то внятное, но база данных не была довольна произошедшим, если вообще в курсе.</p>
</section>