<section class="page" id="page_register_success">
    <h1>Регистрация завершена</h1>
    <p>Пришло время <a href="/login">войти</a>, используя свои логин и пароль. Теперь ты почти смешарик, а твоя роль &mdash; </p>
</section>